.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 40%;
}

.search {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 30%;
    }

#searchbar {
    margin-top: 0;
    border-radius: 100px;
    height: 40px;
    width: 500px;
    margin-top: 3%;
}

#searchbar:hover {
    box-shadow: inset;
}

ul {
    font-size: small;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer {
    padding: 20px;
    width: 100%;
    background-color: rgb(236, 231, 231);
    position: fixed;
    bottom: 0;
   }

.footer ul {
    bottom: 10px;
    background-color: rgb(236, 231, 231);
    position: fixed;
}

.leftnav ul, .rightnav ul {
    top: 20px;
    position: fixed;
}

li  {
    display: inline;
    padding:0;
    margin-left: 4px;
}

li:hover{
    text-decoration: underline;
}

.leftnav {
    float:left;
    margin-left: 2%;
}

.rightnav {
    float: right;
    margin-right: 25%;
}

button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(231, 233, 236);
}

button:hover {
    border-color: rgb(134, 134, 138); 
    background-color: rgb(250, 250, 250);
}

#suche {
    background-color: rgb(51, 51, 216);
    color: white;
    border-color: none;

}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 50%;
    height: auto;
}





